<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Picgeon</title>
    <style>
  .masonry {
    column-width: 300px;
    column-gap: 10px;
    padding: 10px;
  }

  .masonry a {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }

  .masonry img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
</head>
<body>
  <div class="masonry">
    {{range .}}
      <a href="{{.URL}}" target="_blank">
        <img src="{{.ThumbURL}}" alt="{{.Name}}">
      </a>
    {{end}}
  </div>


  <script>
  function sendHeight() {
      const height = document.documentElement.scrollHeight;
      parent.postMessage({ type: "resize", height }, "https://edmateo.site"); // cambia al origen real
    }

    window.addEventListener("load", sendHeight);

    new ResizeObserver(() => {
      sendHeight();
    }).observe(document.documentElement);
  </script>
</body>
</html>
